/*Brainiac Match-Me Application
Designed to consume matchMe API 
Fiyinfoluwa S. Adebayo
Andela final project (project 7)
13th January, 2015*/

@font-face {
  font-family: "cute-header";
  src: url('../libs/font-awesome/fonts/Stalemate-Regular.ttf') format("opentype");
}

body {
  overflow-x: hidden;
  background-color: #eee;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

.navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.navbar-brand:hover {
    font-size: 2.5em;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #55b131;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #55b131;
    margin-right: 60px;
    margin-top: 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #55b131;
    color: #fff;
    background-color: #74e945;
    font-size: 19px;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #55b131;
    background-color: #55b131;
}

.btn-xl .badge {
    color: #55b131;
    background-color: #fff;
}

.navbar-default {
  border-color: transparent;
  background-color: #222;
}

.navbar-default .navbar-brand {
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  color: #59b535;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #59b535;
}


.navbar-default .navbar-toggle {
    border-color: #55b131;
    background-color: #55b131;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #55b131;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: .9em;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #55b131;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #55b131;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}


@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-brand:hover {
      font-size: 2.5em;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 250px;
    padding-bottom: 150px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.875em;
    font-style: italic;
    line-height: 50px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: none;
    font-family: 'cute-header', Arial, sans-serif;
    font-size: 8em;
    font-weight: 200;
    line-height: 50px;
}


/*ABOUT */
#about {
  margin: 10px auto;
  padding: 20px 0;
}

.about-img {
  float: right;
  border-radius: 100%;
  box-shadow: 0 0 3em #004000;
  margin-right: 40px;
}

.about-alert {
  font-style: italic;
  color: #00a500;
}

.about-text {
  margin: 10px 30px 10px 120px;
  max-width: 600px;
}

.about-text p {
  font-size: 1.2em;
  text-align: justify;
  text-indent: 2em;
}

.about-text p span {
  color: #004000;
  font-size: 1.21em;
}

.about-text p a,
.contact-text p a {
  text-decoration: none;
  color: #006400;
}

.about-text p a:hover,
.contact-text p a:hover {
  text-decoration: underline;
  color: #00a500;
}


/*CONTACT*/
#contact {
  clear: both;
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=4ecc5200&noise=949294&density=63&opacity=59 );
  margin: 10px auto;
  padding: 30px;
}

.contact-text {

}

ul.social-buttons {
  text-align: center;
  margin-bottom: 5px;
}

ul.social-buttons li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
  margin-top: 20px;
}

ul.social-buttons li a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  outline: 0;
  line-height: 40px;
  color: #fff;
  background-color: #333;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #76e749;
}

footer {
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #59b535;
  background-color: #ccc;
}

footer span.info {
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  /*white-space: pre;*/
}

footer span a {
  color: green;
}

footer span a:hover {
  text-decoration: underline;
  color: green;
}