<h2 class="text-center">View Users on Match-Me</h2>

<h3 class="text-center div-h3"><button ng-click="fetchUsers()">Click to display all users on Match-Me</button></h3>

<div ng-controller="searchController">
  <p class="alert text-center"> {{ alert }} </p>

  <div id="users-container">
    <ul class="all-users" ng-repeat="users in allUsers">
      <li><img src="{{ users.picture_male }}"  width="105" height="105"></li>
      <li><span class="users-label">Name:</span> {{ users.first_name }} {{ users.last_name }}</li>
      <li><span class="users-label">Username:</span> {{ users.username }} </li>
      <li><span class="users-label">Sex:</span> {{ users.sex }} </li>
      <li><span class="users-label">Quote:</span> {{ users.slogan }} </li>
      <li><span class="users-label">Joined On:<br /></span> {{ users.joined_on | date:"medium" }} </li>
      <li><a href=""><em>See more...</em></a></a></li>
    </ul>
  </div>


  <!-- MOCK DATA TO STYLE LIST -->
<!-- <div id="users-container">
  <ul class="all-users">
    <li><img src="../img/fiyin_img.jpeg" width="105" height="105"></li>
    <li><span class="users-label">Name: </span>Fiyin Adebayo</li>
    <li><span class="users-label">Username: </span><em>ceemion</em></li>
    <li><span class="users-label">Sex: </span>Male</li>
    <li><span class="users-label">Quote: </span>"knowledge is power"</li>
    <li><a href=""><em>See more...</em></a></li>
  </ul>

  <ul class="all-users">
    <li><img src="http://s5.postimg.org/8pade3f8z/gravatar_female.jpg" width="105" height="105"></li>
    <li><span class="users-label">Name: </span>Fiyin Adebayo</li>
    <li><span class="users-label">Username: </span><em>ceemion</em></li>
    <li><span class="users-label">Sex: </span>Male</li>
    <li><span class="users-label">Quote: </span>"knowledge is power"</li>
    <li><a href=""><em>See more...</em></a></li>
  </ul>

  <ul class="all-users">
    <li><img src="http://s5.postimg.org/mtk0rpqlv/gravatar_male.jpg" width="105" height="105"></li>
    <li><span class="users-label">Name: </span>Fiyin Adebayo</li>
    <li><span class="users-label">Username: </span><em>ceemion</em></li>
    <li><span class="users-label">Sex: </span>Male</li>
    <li><span class="users-label">Quote: </span>"knowledge is power"</li>
    <li><a href=""><em>See more...</em></a></li>
  </ul>

  <ul class="all-users">
    <li><img src="http://s5.postimg.org/8pade3f8z/gravatar_female.jpg" width="105" height="105"></li>
    <li><span class="users-label">Name: </span>Fiyin Adebayo</li>
    <li><span class="users-label">Username: </span><em>ceemion</em></li>
    <li><span class="users-label">Sex: </span>Male</li>
    <li><span class="users-label">Quote: </span>"knowledge is power"</li>
    <li><a href=""><em>See more...</em></a></li>
  </ul>

  <ul class="all-users">
    <li><img src="http://s5.postimg.org/mtk0rpqlv/gravatar_male.jpg" width="105" height="105"></li>
    <li><span class="users-label">Name: </span>Fiyin Adebayo</li>
    <li><span class="users-label">Username: </span><em>ceemion</em></li>
    <li><span class="users-label">Sex: </span>Male</li>
    <li><span class="users-label">Quote: </span>"knowledge is power"</li>
    <li><a href=""><em>See more...</em></a></li>
  </ul>

  <ul class="all-users">
    <li><img src="http://s5.postimg.org/8pade3f8z/gravatar_female.jpg" width="105" height="105"></li>
    <li><span class="users-label">Name: </span>Fiyin Adebayo</li>
    <li><span class="users-label">Username: </span><em>ceemion</em></li>
    <li><span class="users-label">Sex: </span>Male</li>
    <li><span class="users-label">Quote: </span>"knowledge is power"</li>
    <li><a href=""><em>See more...</em></a></li>
  </ul>
</div>
 -->


</div>
